<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br />
    <%= f.text_area :explanation, rows: 3 %>
  </div>
  <div>
    <%= label_tag :course, 'コース:' %>
    <%= select_tag :course, options_for_select(Question::COURSE, @question.course) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
