<p>パラメータ<%= debug(params) %></p>
<% if @mistake %>
<p>
不正解！あなたが選んだ答えは
<%= @mistake.map{|i|num2alph i} %>
です
</p>
<% else %>
正解！
<%end%>
<p><%= @question.explanation %></p>

<% @question.choices.each do |choice| %>
  <% if @corrects.include?(choice.choice_number) %>
  <%= content_tag(:strong, num2alph(choice.choice_number)) %>
  正解
  <% else %>
  <%= num2alph choice.choice_number %>
  <% end %>
  <br>
  <%= choice.explanation %>
  <%= content_tag(:pre, choice.description) %>
<% end %>
<%= link_to '次の問題', exercise_start_path %>