<% if @mistake %>
<p>
不正解！あなたが選んだ答えは<%= @mistake %>です
</p>
<% else %>
<p>
正解！
</p>
<%end%>

<%= content_tag(:p, @question.explanation) %>
<% @question.choices.each do |choice| %>
  <% if @corrects.include?(choice.choice_number) %>
  <%= content_tag(:b, choice.choice_number) %>
  <% else %>
  <%= choice.choice_number %>
  <% end %>
  <%= choice.explanation %>
  <%= content_tag(:pre, choice.description) %>
<%  end %>
