<% if notice %><p id="notice"><%= notice %></p><% end %>
<%= sanitize @question.description %>

<%= form_tag(explain_question_path(@question), method: :get) do %>
  <%= render @question.choices %>
  <div class='clear-fix'></div>
  <%= submit_tag("解答する") %>
<% end %>
<div class="bottom">
  <%= link_to '問題一覧', questions_path %>
</div>