<div class="r_learning_form">
	<h1>ログインページ</h1>
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <fieldset>
		<legend>ログインしてください</legend>
		<%= form_tag do %>
      <div>
        <%= label :name, 'ログインID：' %>
        <%= text_field_tag :name, params[:name], size: 40 %>
      </div>
      <div>
        <%= label :password, 'パスワード：' %>
        <%= password_field_tag :password, params[:password], size: 40 %>
      </div>
      <div>
        <%= submit_tag "ログイン" %>
      </div>
  	<% end %>
	</fieldset>
</div>
