<div class="admin">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  
  <%= form_tag do %>
    <fieldset>
      <tr>
        <th>
          <h2>ユーザーログイン</h2>
        </th>
        <td>
          <div class="admin">
            <%= label_tag :name, 'Ａｄｍｉｎ ＩＤ：' %>
            <%= text_field_tag :name, params[:name] %>
          </div>
        </td>
        <td>
          <div class="admin">
            <%= label_tag :password, 'パスワード：' %>
            <%= password_field_tag :password, params[:password] %>
          </div>
        </td>
        <td>
          <div id="login">
            <%= submit_tag "ログイン" %>
          </div>
        </td>
      </tr>
    </fieldset>
  <% end %>
</div>
