<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :名前： %>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div>
    <%= f.label :password, 'パスワード：' %>
    <%= f.password_field :password, size: 40  %>
  </div>

  <div>
    <%= f.label :password_confirmation, '確認：' %>
    <%= f.password_field :password_confirmation, size: 40  %>
  </div>

  <% if @auth %>
  <div>
    <%= f.label :authority, '管理者権限：' %>
    <%= f.check_box :authority, value: 1 %>

  </div>
  <% end %>

  <div>
    <%= f.submit :ユーザー登録 %>
  </div>

<% end %>